.login {                        /* div class = "login" */
    margin: 5%;
    text-align: center;

    background-color: rgb(231, 246, 251);
    border-radius: 10px;
    padding: 20px;
    border-style: solid;
    border-color: rgb(107, 135, 159);
}

.redondear {                    /* campos a competar */
    border-radius: 2rem;
    text-align: center;
    border-style: dashed;
}

#entrar {                        /* boton inicar sesion */
    border-radius: 2rem;
    font-weight: bold;
}

#error {                        /* mensaje de campos faltantes */
    color: rgb(255, 46, 46);
       
}