.login {                        /* div class = "login" */
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;

    background-color: rgb(231, 246, 251);
    border-radius: 10px;
    padding: 20px;
    border-style: solid;
    border-color: rgb(107, 135, 159);
}

.redondear {                    /* campos a competar */
    border-radius: 2rem;
    text-align: center;
    border-style: dashed;
}

button {                        /* boton inicar sesion */
    border-radius: 2rem;
    border-style: solid;
    border-color: rgb(3, 113, 216);
    background-color: rgb(0, 132, 255);
    color: white;
}

#error {                        /* mensaje de campos faltantes */
    color: rgb(255, 46, 46);
       
}